
/* --------------- about pg --------------- */

.about-hed{
background-color: #18191b;;
  .caption{
    position: relative;

    h1{

        span{
            letter-spacing: normal;
        }
    }
  }

  .main-marq{
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .item{
      padding: 0 50px !important;
    }

    h2{

      span{
        font-size: 10vw;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  .fit-img{
    height: 540px;
  }
}

.services-dm{
  position: relative;
  z-index: 3;

  .img-patern{
      position: absolute;
      bottom: 10%;
      left: -15%;
      width: 30%;
      filter: invert(1);
      opacity: .07;
      z-index: -1;
  }

  .item{
      padding: 20px 0;
      border-top: 1px solid rgba(255,255,255,.1);
      overflow: hidden;
      transition: all .4s;

      &:last-of-type{
          border-bottom: 1px solid rgba(255,255,255,.1);
      }

      .title{

          h2{
              font-size: 100px;
              letter-spacing: -4px;
          }
      }

      p{
          opacity: 0;
          transition: all .4s;
      }

      .icon{
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border: 1px solid rgba(255,255,255,.1);
          border-radius: 50%;
          margin-left: 150px;

          img{
              width: 30px;
          }
      }
      
      &:hover{

          .title{
              margin-bottom: 0;
              color: #d0ff71;
          }

          p{
              opacity: 1;
          }
      }
  }
}
.sec-head{

    .sub-head{
        position: relative;
        padding-left: 25px;
        font-size: 18px;
        font-weight: 300;

        &:after{
            content: '';
            width: 7px;
            height: 7px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}