/* --------------- Clients --------------- */

.brands-mp {
  color: #000000;
  .sec-head .sub-head {
    position: relative;
    padding-left: 25px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1.1px;
  }
  .item {
    position: relative;
    display: inline-block;
    padding: 0 60px;
    margin-top: 60px;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background:#4b0082;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      right: -5px;
      transform: rotate(30deg);
    }

    &.nodot {
      &:after {
        display: none;
      }
    }

    &:hover {
      .icon {
        opacity: 1;
        visibility: visible;
      }
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-size: 64px;
      line-height: 64px;
    }

    .icon {
      width: 200px;
      position: absolute;
      top: -60px;
      right: -40px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
    }
  }
}
@media screen and (max-width: 768px) {
  .brands-mp .item {
    &:after {
      display: none;
    }

    h2 {
      font-size: 40px;
      line-height: 1.2;
    }
  }
}
@media screen and (max-width: 992px) {
  .brands-mp .item {
    h2 {
      font-weight: 450;
    }
  }
}
