:root {
  --theme-color: 121212;
}

.marq-mp {
  margin-top: 30px;
  .main-marq {
    overflow: hidden;
    padding: 25px 0;
  }

  .color-bg {
    background: #1040b7;
    transform: rotate(2deg);
    position: relative;

    z-index: 4;
  }

  .gray-bg {
    background: #c497fe;
    color: #000000;
    transform: rotate(-4deg);
    margin-top: -30px;
  }
  .white-bg{
    background:white;
    color: #000;
    .item{
      h5{
        color: #000000;
      }
      &:after{
        content: '';
        transform: translateY(0%);

      }
    }
    margin-bottom: 30px;
  }

  .item {
    padding: 0 60px !important;
    position: relative;

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    h5 {
      color: #ffffff;
      font-weight: 400;
      text-transform:capitalize;
      white-space: nowrap;
    }
  }
}
.marq-mp {
  .marquee2 {
    .item {
      padding: 0 60px !important;
      position: relative;

      &:after {
        content: "";
        width: 12px;
        height: 12px;
        background: #000;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      h5 {
        color: #000;
        font-weight: 400;
        text-transform:capitalize;
        white-space: nowrap;
      }
    }
  }
}

// @media screen and (max-width : 832px){
//     .marquee{
//         margin : 40px 0px
//     }
// }
// @media screen and (min-width : 832px){
//     .marquee{
//         margin : 60px 0px
//     }
// }
