/* --------------- Works and Project Card --------------- */
.main-color{
    color: #d0ff71;
}
.work-hed {

    .caption{

        h1 {
            font-size: 90px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .path{

            span{
                margin: 0 10px;
            }
        }
    }
}

.work-hed2{

    .caption{
      position: relative;

        h1{

            span{
                letter-spacing: normal;
            }
        }
  
    }
  
    .fit-img{
      height: 620px;
    }
}
.works-mp{
    padding-bottom: 100px;

    .item{
        padding-top: 30px;
        border-top: 1px solid rgba(255,255,255,.1);
        margin-bottom: 40px;

        &:hover{

            .cont{

                a{
                    background: #d0ff71;
                    border-color: #d0ff71;
                }
            }
        }

        .cont{

            h5{
                font-weight: 400;
                margin-bottom: 10px;
                font-size: 28px;
            }

            span{
                font-size: 14px;
                font-weight: 300;
                // text-transform: uppercase;
            }

            a{
                padding: 5px 25px;
                border-radius: 30px;
                border: 1px solid rgba(255,255,255,.1);
                transition: all .4s;
            }
        }

        .img{
            border-radius: 10px;
            overflow: hidden;
            margin-top: 50px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.works-ca{

    .item{

        .img{
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            .tags{
                position: absolute;
                left: 15px;
                bottom: 15px;
                opacity: 0;
                visibility: hidden;
                transition: all .4s;

                a{
                    color: #212121;
                    font-size: 14px;
                    padding: 7px 15px;
                    line-height: 1.5;
                    border-radius: 30px;
                    background: #fff;

                    &:hover{
                        background: #d0ff71;
                    }
                }
            }
        }

        h6{
            font-size: 20px;
            font-weight: 600;
            margin-top: 15px;
        }

        &:hover{

            .img{

                .tags{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: 992px) {

    .work-hed2 .fit-img{
        height: 400px;
    }
}

@media screen and (max-width: 768px) {

    .work-hed h1{
        letter-spacing: -1px;
        line-height: 1.2;
    }
    
    .work-hed h2{
        letter-spacing: -1px;
    }
    
    .work-hed h3{
        font-size: 32px;
        letter-spacing: normal;
    }
    
    .work-hed h4{
        font-size: 28px;
        letter-spacing: normal;
    }

    .work-hed2{

        h1{
            font-size: 40px !important;
        }

        .list{
            
            ul{
                padding: 0;
            }
        }
    }

    .work-hed .caption h1{
        font-size: 45px;
    }

    .work-card .card-item .img{
        height: 500px;
    }

    .work-card .card-item h5{
        font-size: 35px !important;
    }

}




