/* --------------- Works --------------- */

.work-card{
    background-color: #151515;
    .moto{
        span{
            display: inline;
        }
    }
    .card-item{
        margin-bottom: 30px;
        border: 1px solid rgba(255, 255, 255, .05);
        border-radius: 10px;
        background: #212121;

        .cont{
            height: 100%;
            padding: 40px 80px 40px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tag{
                font-size: 12px;
                line-height: 1;
                padding: 7px 12px;
                margin-right: 2px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 30px;
            }

            p{
                font-size: 14px;
                line-height: 20px;
            }
        }

        .img{
            padding: 20px;

            img{
                border-radius: 15px;
            }
        }
    }
}
@media screen and  (max-width : 632){
    .img{
        margin: 0;
    }
}
