:root {
  --bg-color: #151515;
  --theme-color: #000;
  --main-color: #0047ff;
}

$bg-color: var(--bg-color);
$sub-color: var(--sub-color);
$theme-color: var(--theme-color);
$main-color: var(--main-color);
$heading-color: var(--heading-color);
$p-color: var(--p-color);
$border-color: var(--border-color);
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;

// menu

@import "menu";
@import "global";

// header
@import "header";
@import "marquee";
@import "works";
@import "workCard";
@import "services";
@import "about";
@import "testimonial";
@import "servicesBanner";
@import "servicesCard";
@import "clients";
@import "contact";
@import "hubfolio";
@import "footer";

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  background-color: $theme-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -3px;
}

h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -3px;
}

h3 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -2px;
}

h4 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

h5 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
}

h6 {
  font-size: 24px;
  line-height: 32px;
}

.sub-head {
  font-size: 20px;
  line-height: 28px;
}

p {
  color: #bbb;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.sec-head {
  h2 {
    font-size: 65px;
    line-height: 65px;

    span {
      color: $main-color;
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-weight: 400;
    }
  }
}

.loader-wrap svg {
  fill: #1d1d1d;
}

.butn {
  &.butn-bord {
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:hover {
      background: $main-color;
      color: #fff;
    }
  }

  &.butn-bg {
    background: $main-color;
    border: 1px solid transparent;
    color: #fff;

    &:hover {
      background: transparent;
      border-color: $main-color;
      color: inherit;
    }
  }
}

.icon.invert {
  img {
    filter: invert(1);
  }
}

.butn {
  .icon {
    width: 18px;
  }

  &:hover {
    .icon.invert {
      img {
        filter: invert(0);
      }
    }
  }
}

.box-light {
  background-color: #fff;
  color: #000;
}

.box-dark {
  .box {
    background: $bg-color;
    border-radius: 15px;
    padding: 100px 80px;
    position: relative;

    .layers {
      position: absolute;
      top: 5px;
      left: 30px;
      right: 30px;
      bottom: -10px;
      background: $bg-color;
      border-radius: 15px;
      opacity: 0.7;
      z-index: -1;

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 20px;
        right: 20px;
        bottom: -10px;
        background: $bg-color;
        border-radius: 15px;
        opacity: 0.7;
        z-index: -1;
      }
    }
  }
}
//our services
.our-services {
  background: rgb(2, 43, 112);
  background: linear-gradient(
    90deg,
    rgba(2, 43, 112, 1) 0%,
    rgba(29, 20, 42, 1) 100%
  );
  color: white;
  padding-bottom: 30px;
}
/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: $desk-md-screen) {
  // .header-ds {
  //   .caption {
  //     text-align: center;
  //   }
  // }

  .services-ds .item .title h2 {
    font-size: 80px;
    line-height: 1.2;
  }

  .pricing-ds {
    .sec-head {
      .d-flex {
        display: block !important;

        .ml-auto {
          margin-top: 30px;
        }
      }
    }

    .content .price-foot .price-foot-item {
      .butn {
        span {
          &:first-of-type {
            display: block !important;
            width: 100% !important;
          }
        }
      }
    }
  }
  .header-crv .mimg {
    margin-top: -50px;
  }

  .footer-sa .call-action h2 {
    font-size: 70px;

    .buton {
      display: none !important;
    }
  }
}

@media screen and (max-width: $tablet-sm-screen) {
  .sec-head {
    display: block !important;

    h2 {
      font-size: 40px;
      line-height: 1.2;
    }

    .butn {
      margin-top: 15px;
    }
  }

  .header-ds .caption h1 {
    font-size: 60px;
    line-height: 1.2;
    span {
      font-size: 50px;
    }
  }

  .about-hed,
  .serv-hed {
    h1 {
      font-size: 30px;
      letter-spacing: normal;
      line-height: 1;
    }
  }
  .intro-ds {
    .comit {
      .item {
        text-align: center;
        margin-bottom: 10px;
      }

      .text-right {
        text-align: center !important;
      }
    }
  }

  .intro-ds .container .box {
    padding: 60px 15px;
  }

  .brand-ds .item:after {
    left: 0;
    right: 0;
  }

  .works-ds .item .cont {
    h4 {
      font-size: 28px;
      line-height: 1.2;
      letter-spacing: normal;
    }
  }

  .services-ds .item {
    display: block !important;
  }

  .services-ds .item .title {
    margin-bottom: 0;
  }

  .services-ds .item .title h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .services-ds .item .icon {
    margin-left: 15px;
  }

  .box-dark .box {
    padding: 100px 15px;
  }

  .testimonials-ds .qoute-icon {
    .text {
      width: 180px;
    }

    .icon {
      width: 80px;
    }
  }

  .testimonials-ds .item {
    h4 {
      font-size: 25px;
      letter-spacing: normal;
    }
  }

  .faqs-ds .accordion-item .accordion-header button {
    font-size: 17px;
    line-height: 1.4;
  }

  .pricing-ds .content .price-head .price-headItem h2 {
    font-size: 24px;
  }
  .header-crv .mimg {
    margin-top: -15px;
    height: 300px;
  }

  .footer-sa .call-action h2 {
    font-size: 35px;
    line-height: 1.4;
  }
}
